.card {
  position: relative;
  overflow: hidden;
  max-width: 200px;
}

.card::after {
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 12px 12px 0 0;
  bottom: 0;
  content: "";
  position: absolute;
  right: 0;
  top: auto;
  z-index: 40;
}

.card:hover {
  transform: scale(1.02);
}

.info {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
}

.name {
  color: #ffffff;
  margin: 0;
  flex: 1;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favorite {
  position: absolute;
  right: 8px;
  cursor: pointer;
  margin-right: 4px;
  display: flex;
  align-items: center;
  width: 16px;
}

.favorite:hover {
  transform: scale(1.20);
}

.container {
  border-bottom: 4px solid red;
  height: 81%;
}